{% extends 'base.html' %}
{% load static %}
{% block title %} Story 9 {% endblock %}

{% block content %}
{% include 'navbar.html' %}

<section id="book" style="background-color:white">
  <div class="section-title"> BOOKS </div>

  <input type="text" name="search" id="search" placeholder="Search Books" class="form-control" />
  <ul class="list-group" id="list_result"> </ul>
  <button id="top" class="my-3" data-toggle="modal" data-target="#Modal"> Show Top 5 </button>
  <table class="table my-3" id="result"></table>
  

  <div class="modal fade modal-lg" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="section-title" id="ModalLabel" style="padding:0px;"> Top 5 </h5>
        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        	</button>
        </div>

        <div class="modal-body">
        	<table class="table my-3">
          	<thead class="align-middle text-center font-weight-bold">
							<tr>
								<th> Cover </th>
								<th> Title </th>
								<th> Author </th>
								<th> Likes </th>
							</tr>
						</thead>
						<tbody id="top-table"> </tbody>
        	</table>
        </div>
    	</div>
    </div>
  </div>
</section>
{% endblock %}

{% block script %}  
<script src="{% static 'js/books.js' %}"></script> 
{% endblock %}