{% extends 'base.html' %}
{% load static %}
{% block title %} Story 10 {% endblock %}

{% block content %}
{% include 'navbar.html' %}

<section id="home">
  {% if user.is_authenticated %}
    <div class="title"> Hi {{ user.username }}! </div>
    <div class=""> {{ user.profile.bio }} </div>
    <img src="{{ user.profile.image }}">
    <br>
    <br>
    <div class=""> Update your profile here </div>
    <a href="{% url 'story_10:profile' %}" class="btn btn-primary" name="profile">Update Profile</a>
    <div class=""> Want to log out? </div>
    <a href="{% url 'story_10:logout' %}" class="btn btn-primary" name="logout">Log Out</a>

  {% else %}
    <div class="title"> WELCOME </div>
    <div class=""> Don't have an account? Sign up here </div>
    <a href="{% url 'story_10:signup' %}" class="btn btn-primary" name="signup">Sign Up</a>
    <div class=""> Already have an account? Login here </div>
    <a href="{% url 'story_10:login' %}" class="btn btn-primary" name="login">Log In</a>
  {% endif %}
</section>
{% endblock %}