{% extends 'base.html' %}
{% load static %}
{% block title %} Story 10 {% endblock %}

{% block content %}
{% include 'navbar.html' %}

<section id="login" style="background-color:white">
  {% for message in messages %}
    <script>
      alert("{{ message }}")
    </script>
  {% endfor %}

  {% if user.is_authenticated %}
		<h2> Hi {{ user.username }}! </h2>
    <p> You have already logged in </p>
    <a href="{% url 'story_10:home' %}" class="btn btn-primary">Back to Home</a>
  {% else %}
    <div class="section-title"> Log In </div>

    <form action="" method="POST">
	    {% csrf_token %}
	    <table class="table my-3" style="width:50vw">
		    <tr>
		    	<colgroup>
	      	<col span="1" style="width: 30%;">
	       	<col span="1" style="width: 10%;">
	       	<col span="1" style="width: 60%;">

		      <td> Username </td>
		      <td> : </td>
		      <td> <input id="username" name="username" type="text" required> </td>
		    </tr>

		    <tr>
		      <td> Password </td>
		      <td> : </td>
		      <td> <input id="password" name="password" type="password" required> </td>
		    </tr>

		  </table>
		  <input type="submit" value="Log In" class="btn btn-primary" id="login">
	  </form>

	  <br>
	  <div> 
	  	Don't have an account? Sign up
    	<a href="{% url 'story_10:signup' %}"> here </a>
	  </div>
  {% endif %}
</section>
{% endblock %}