{% extends 'base.html' %}
{% load static %}
{% block title %} Story 10 {% endblock %}

{% block content %}
{% include 'navbar.html' %}

<section id="signup" style="background-color:white">
	{% for message in messages %}
    <script>
      alert("{{ message }}")
    </script>
  {% endfor %}

  {% if user.is_authenticated %}
  	<h2> Hi {{ user.username }}! </h2>
    <p> You have already logged in </p>
    <p> Log Out to create a new account </p>
    <a href="{% url 'story_10:home' %}" class="btn btn-primary">Back to Home</a>
    <a href="{% url 'story_10:logout' %}" class="btn btn-primary">Log Out</a>
  {% else %}
    <div class="section-title "> Sign Up </div>

    <form action="" method="POST">
	    {% csrf_token %}
	    <table class="table my-3" style="width:50vw">
    		<colgroup>
      	<col span="1" style="width: 30%;">
       	<col span="1" style="width: 10%;">
       	<col span="1" style="width: 60%;">

		    <tr>
		      <td> Username </td>
		      <td> : </td>
		      <td> <input id="username" name="username" type="text" required> </td>
		    </tr>

		    <tr>
		      <td> Email </td>
		      <td> : </td>
		      <td> <input id="email" name="email" type="email" required> </td>
		    </tr>

		    <tr>
		      <td> Password </td>
		      <td> : </td>
		      <td> <input id="password" name="password" type="password" required> </td>
		    </tr>

		  </table>
		  <input type="submit" value="Sign Up" class="btn btn-primary" id="signup">
	  </form>

	 	<br>
	  <div> 
	  	Already have an account? Log in 
    	<a href="{% url 'story_10:login' %}"> here </a>
	  </div>
  {% endif %}
</section>
{% endblock %}