{% extends 'base.html' %}
{% load static %}
{% block title %} Story 10 {% endblock %}

{% block content %}
{% include 'navbar.html' %}

<section id="signup" style="background-color:white">
	{% for message in messages %}
    <script>
      alert("{{ message }}")
    </script>
  {% endfor %}

  {% if user.is_authenticated %}
    <div class="section-title "> Update Profile </div>
  	<h2> Hi {{ user.username }}! </h2>

    <form action="" method="POST">
	    {% csrf_token %}
	    <table class="table my-3" style="width:50vw">
    		<colgroup>
      	<col span="1" style="width: 30%;">
       	<col span="1" style="width: 10%;">
       	<col span="1" style="width: 60%;">

		    <tr>
		      <td> Username </td>
		      <td> : </td>
		      <td> <input id="username" name="username" type="text" value="{{user.username}}" required> </td>
		    </tr>

		    <tr>
		      <td> Email </td>
		      <td> : </td>
		      <td> <input id="email" name="email" type="email" value="{{user.email}}" required> </td>
		    </tr>

		    <tr>
		      <td> Bio </td>
		      <td> : </td>
		      <td> <input id="bio" name="bio" type="text" value="{{user.profile.bio}}"> </td>
		    </tr>

		    <tr>
		      <td> Profile Picture </td>
		      <td> : </td>
		      <td> <input id="image" name="image" type="text" value="{{user.profile.image}}"> </td>
		    </tr>

		  </table>
		  <input type="hidden" name="id" value="{{ user.id }}">
		  <input type="submit" value="Update Profile" class="btn btn-primary" id="update">
	  </form>
  {% else %}
  	<h2> You haven't logged in yet </h2>
    <p> Log in to update your profile </p>
    <a href="{% url 'story_10:login' %}" class="btn btn-primary">Login</a>
  {% endif %}
</section>
{% endblock %}