{% extends 'base.html' %}
{% load static %}
{% block title %} Are You Sure? {% endblock %}

{% block content %}
{% include 'navbar.html' %}

<section>
   <h1 class="section-title"> Are you sure? </h1>

   <p> Are you sure that you want to input this data? </p>
   <table class="table table-bordered">
      <tr>
         <td> Name </td>
         <td> {{ nama }} </td>
      <tr>
         <td> Message </td>
         <td> {{ pesan }} </td>
      </tr>
   </table>

   <form action="{% url 'story_7:status' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="nama" value="{{ nama }}">
      <input type="hidden" name="pesan" value="{{ pesan }}">
      <input class="btn btn-primary d-flex m-auto click" type="submit" id="yes" value="Yes">
   </form>

   <form action="{% url 'story_7:status' %}" method="GET">
       <input class="btn btn-primary d-flex mx-auto click" type="submit" id="no" value="No">
   </form>
</section>
{% endblock %}