{% extends 'base.html' %}
{% load static %}
{% block title %} Story 7 {% endblock %}

{% block content %}
{% include 'navbar.html' %}

<section>
   <div class="section-title"> STATUS </div>

   {% for x in status %}
   <div class="card-group py-3">
     <div class="card" style="background-color: {{ x.warna }}">
       <div class="card-body">
         <h4 class="card-title"> {{ x.nama }} </h4>
         <p class="card-text"> {{ x.pesan }} </p>
         <a href="{{ x.id }}" class="click btn btn-primary" name="change"> Change Color </a>
       </div>
     </div>
   </div>
   {% endfor %}
</section>

<section>
   <div class="section-title"> Post your message(s) here! </div>
   <form action="confirm/" method="post" validate>
      {% csrf_token %}
      <table class="table mx-5" style="width:90vw">
         {{ form.as_table }}
         <tr>
            <td>&nbsp;</td>
            <td><input id="submit" type="submit" value="Submit" class="btn btn-primary click"></td>
         </tr>
      </table>
   </form>
</section>
{% endblock %}