section {
	min-height: 100vh;
	max-width: 100vw;
	scroll-snap-align: start;
	padding: 5vh;
  	background-color:#d6ecd2 ;
	color: #000000;
}
body {
	font-family: 'Muli', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size:22px;
	color: #000000;
}
section#home {
  	background-color:white;
	justify-content: center;
    text-align: center;
}
#home .title {
    font-weight: bold;
	font-size: 50px;
	line-height: 74px;
	letter-spacing: 0.15em;
	padding:10px;
	padding-bottom: 20px;
}
#book table td, #book .table thead th {
	border: 1px solid black;
}
#book .table thead th {
	vertical-align: middle;
}
#book table thead th {
	background-color: #e9ecef
}

.section-title {
	font-family: 'Josefin Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 37px;
	line-height: 37px;
	text-align: center;
	letter-spacing: 0.2em;

	padding: 10px 0px 40px 0px;
	color: #008081;
}

.click:hover{
	background-color: #585858 !important;
	text-decoration: none;
}

@media (max-width: 991.98px) {
	.section-title{
		font-size: 35px;
	}
}

.btn {
	background-color: #008081;
	border: 1px black;
	font-size:17px;
	font-color:black;
	margin: 10px 0px 10px 0px;

	text-align: center;
	justify-content: center;
    align-items:center;
}

/*ACCORDION*/
.accordion-container{
  position: relative;
  max-width: 60vw;
  height: auto;
  margin: 10px auto;
}

.set{
  position: relative;
  width: 100%;
  height: auto;
  background-color: #ECECEC;
}
.set > a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #555;
  font-weight: 600;
  border: 1px solid #ddd;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;
}
.set > a.active {
  background-color:#008081;
  color: #fff;
}
.content {
  background-color: #fff;
  border: 1px solid #ddd;
  display:none;
}
.content p {
  padding: 10px 15px;
  margin: 0;
  color: #333;
}

button.up, button.down {
  background-color:#008081;
  color: #fff;
  font-size:18px;
}

.active .up, .active .down {
  background-color: #fff;
  color: #555;
}


/*CHANGE THEME*/
section.change-theme {
  	background-color:#f2e8e2;
}

.change-theme > .section-title {
	color: #6f859b;
}

.change-theme .up, .change-theme .down {
 	background-color:#6f859b;
}

.change-theme .active .up, .change-theme .active .down {
	background-color: #e3bab3;
}

.change-theme .bar {
	background-color: #e3bab3;
}

.change-theme .bar.active {
	background-color: #6f859b;
  	color: #e3bab3;
}

.change-theme .content {
  background-color: #c2c5cb;
}

.dropdown .btn {
	border-top-left-radius: 0rem;
	border-top-right-radius: 0rem;
}