{% extends 'base.html' %}
{% load static %}
{% block title %} Story 8 {% endblock %}

{% block content %}
{% include 'navbar.html' %}

<section class="normal">
  <div class="section-title"> ABOUT ME </div>

  <div class="accordion-container">
    <div id="activity" class="set">
      <a href="#" class="bar d-flex justify-content-between">
        Current Activity 
        <div>
          <button class="up"> Up </button>
          <button class="down"> Down </button>
        </div>
      </a>

      <div class="content">
        <p> Still trying to finish ton of assignments everyday </p>
      </div>
    </div>

    <div id="experience" class="set">
      <a href="#" class="bar d-flex justify-content-between">
        Experience
        <div>
          <button class="up"> Up </button>
          <button class="down"> Down </button>
        </div>
      </a>

      <div class="content">
        <p> Currently serving as the Head of Relation Division of DPM Fasilkom UI </p>
      </div>
    </div>
    
    <div id="achievement" class="set">
      <a href="#" class="bar d-flex justify-content-between">
        Achievement
        <div>
          <button class="up"> Up </button>
          <button class="down"> Down </button>
        </div>
      </a>

      <div class="content">
        <p> I don't think I've achieved anything since I entered college </p>
      </div>
    </div>
    
    <div id="contact" class="set">
      <a href="#" class="bar d-flex justify-content-between">
        Contact
        <div>
          <button class="up"> Up </button>
          <button class="down"> Down </button>
        </div>
      </a>

      <div class="content">
        <p> You can contact me at fairuza.raryasdya@ui.ac.id </p>
      </div>
    </div>
  </div>
</section>

<button class="theme ml-3 mb-3 fixed-bottom"> Change Theme </button>
{% endblock %}

{% block script %}  <script src="{% static 'js/accordion.js' %}"></script> {% endblock %}