<div class="dropdown fixed-top">
  <button class="btn btn-secondary dropdown-toggle mt-0 ml-4 pl-3 pr-3"
          type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    Menu
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'story_7:status' %}">Story 7</a>
    <a class="dropdown-item" href="{% url 'story_8:about' %}">Story 8</a>
    <a class="dropdown-item" href="{% url 'story_9:books' %}">Story 9</a>
    <a class="dropdown-item" href="{% url 'story_10:home' %}">Story 10</a>
  </div>
</div>